body {
  margin: 0;
  scroll-behavior: smooth;
}

aside > div {
  user-select: none;
  cursor: pointer;
}

iframe {
  border: none;
  position: sticky;
  width: 100%;
  height: 100vh;
}

.nav-items {
  gap: 10px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;
}

.nav-item .icon {
  width: 24px;
  height: 24px;
  transition: width 0.2s ease, height 0.2s ease;
}

.nav-item .text {
  display: none;
}

/*
  DESKTOP STYLES
*/

/* Applies when height > width (desktop) */
@media screen and (orientation: landscape) {
  aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }


  .nav-item:hover .icon {
    width: 32px;
    height: 32px;
    transition: width 0.2s ease, height 0.2s ease;
  }

  .nav-item:hover .text {
    display: block;
  }
}

/*
  MOBILE STYLES 
*/

/* Applies when height > width (mobile) */
@media screen and (orientation: portrait) {
    iframe {
      padding-bottom: 50px;
    }
    
    aside {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 999;
      display: flex;
      flex-direction: row;
      gap: 10px;
      background-color: white;
    }

    .nav-items {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 10px;
      justify-content: center;
      border-top: 1px dotted black;
    }

    .nav-item {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 4px;
    }

    .nav-item.active .icon {
      width: 32px;
      height: 32px;
      transition: width 0.2s ease, height 0.2s ease;
    }

    .nav-item.active .text {
      display: block;
    }
}

/*
  ICON STYLES
*/

#nav-home .icon {
  background-image: url("assets/home.svg");
  background-size: cover;
}
#nav-home.active .icon {
  background-image: url("assets/home-active.svg");
  background-size: cover;
}

#nav-resume .icon {
  background-image: url("assets/file.svg");
  background-size: cover;
}
#nav-resume.active .icon {
  background-image: url("assets/file-active.svg");
  background-size: cover;
}

#nav-footer .icon {
  background-image: url("assets/links.svg");
  background-size: cover;
}
#nav-footer.active .icon {
  background-image: url("assets/links-active.svg");
  background-size: cover;
}